body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
   background-color: lightblue;
   padding: 0px;
   margin: 10px 20px 45px;
}
footer{
    background-color: rgb(128, 195, 218);
    color: rgb(147, 1, 1);
    padding: 5px; 
    font-size: 7pt; 
    font-style: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header{
    background-color: rgb(128, 195, 218);
    color: rgb(147, 1, 1);
}
a {
    color: maroon;
    transition: 1,5s 3s;
}

a:link{
    color: maroon;
}
a:visited{
    color: black(218, 118, 81);
}

a:hover {
    color: lightseagreen;
    text-decoration: underline;
    transition: 0,3s;
}

a:active{
    color: black;
    opacity: 0,7;

}

div.menu{
    border: 2px solid palevioletred;
    border-radius: 10px;
    width: 310px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center
}
div.menu:hover {
    background-color: rgb(239, 183, 192);
    box-shadow: 0 0 20px black;
}